<!DOCTYPE html>
<html>
<head>
    <title>LeagueLabs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>LeagueLabs: Basketball Stats Tracker</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('add_player') }}">Add Player</a>
            <a href="{{ url_for('averages') }}">Averages</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
